*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid black;
    border-radius: 12px;
    z-index: 10;
    background-color: white;
    width: 500px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal__header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.btn__close {
    cursor: pointer;
    font-weight: bold;
}

.modal__body {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.shaded {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

